/*
 * Author: Arthals
 * Email: zhuozhiyongde@126.com
 * Github: https://github.com/zhuozhiyongde
 * Blog: https://arthals.ink
 */
/*@import './components/courseList.css';*/

/*container向上*/

.container {
    margin-top: 0;
    padding-top: 0;
}

/* 移除原有搜索栏（基本用不上） */
.searchbar {
    display: none;
}

/* 录播表格限宽 */
#containerdiv {
    width: inherit;
}

.gray td,
.gray th {
    background: transparent !important;
}

tr.gray {
    background: var(--c-hover) !important;
}

@media (max-width: 668px) {
    .inventory>tbody tr {
        box-shadow: none;
        position: relative;
    }

    #listContainer_databody>tr>*:last-child {
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #listContainer_databody>tr>*:last-child>* {
        width: 100%;
        height: 100%;
    }

    #listContainer_databody > tr .table-data-cell-value > a {
        color: transparent !important;
        display: block;
        width: 100%;
        height: 100%;
    }

    #listContainer_databody > tr .table-data-cell-value > a:hover {
        background: transparent !important;
    }

    #listContainer_databody>tr>*:first-child {
        font-size: 18px;
        font-weight: bold;
        color: var(--c-title);
        display: block;
        padding-bottom: 0 !important;
    }

    #listContainer_databody>tr>*:nth-child(3) {
        margin-right: 20px;
        float: right;
    }

    .inventory>tbody tr td, .inventory>tbody tr th {
        display: inline-block;
    }

    span.mobile-table-label {
        display: none;
    }
}
